img{
    width: 30vw; 
    -webkit-box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
}
body{
    background-color: lightblue;
}
#img{
    text-align: center;
    margin: 2vw;
    
    
}
h1{
    text-align: center;
    padding:2vw;
    font-size: 4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
    background-color: rgb(93, 180, 180);
    color: white;
    -webkit-box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
    box-shadow: 36px 36px 43px 3px rgba(0,0,0,0.75);
}
#wrapper{
    background-color: skyblue;
    padding: 2vw;
    
}
a{
    text-decoration: none;
    text-align: center;
    padding: 2vw;
   
    color:white;
    background-color: steelblue;
    margin: 5vw 2vw 2vw 39vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}
#btn{
    margin:2vw;
}
#text{
    text-align: center;
    margin-top: 5vw;
    border: white solid 0.2vw;
    color:white;
    text-shadow: 1px 2px 3px #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}