@charset "utf-8";
/* CSS Document */

audio{
	position: absolute;
	top: 40%;
	left: 40%;
	 
}
body{
	background-color: cadetblue;
}
#back{
	background-color:crimson;
	border: solid crimson 1px;
	border-radius: 10%;
	width: 5%;
	position: absolute;
	top: 90%;
	left: 45%;
	color:white;
	text-align: center;
}