@charset "utf-8";
/* CSS Document */
#back {
  background-color: crimson;
  border: solid crimson 1px;
  border-radius: 10%;
  width: 5%;
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  color: white;
}
.content{
	font-size: 18px;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

header{
	width: 100%;
}
h1{
	margin-left: 43%;
}
