nav{
    width: 10%;
    
}
nav a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: -1%;
    color: black;
    padding: 2%;
    background-color: white;
}
#first {
position: absolute;
    top:0%;
    left: 0%;
    width: 50vw;
    height: 30vw;
    background-color: cornflowerblue;
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-bottom: 1em;
}
#second {
position: absolute;
    top:0%;
    left: 50%;
    width: 47.8vw;
    height: 30vw;
    background-color: purple;
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-bottom: 1em;
}
#third{
     text-align: center;
    position: absolute;
    top: 60%;
    left: 0%;
    display: inline-block;
    width: 98%;
    height: 18vw;
    min-height: 1em;
    padding: 1%;
    background-color: seagreen;
}
#button1 {
    margin: 0% auto 0 auto;
    background-color: lavender;
    width: 25vw;
    height: 9vw;
    padding-top: 6vw;
    text-align: center;
    
}
#button2 {
    margin: 2% auto 0 auto;
    background-color: lavender;
    width: 25vw;
    height: 9vw;
    padding-top: 6vw;
    text-align: center;
}
#button1:hover {
    cursor: pointer;
}

#button2:hover {
    cursor: pointer;
}
#won{
    width: 15vw;
    margin: 4.6vw auto auto auto;
    height: 5vw;
    padding-top: 4vw;
    background-color:lavender;
    text-align: center;
}
#player1 {
   margin: 4vw auto 0 auto;
   width: 7vw;
   text-align: center;
   height: 3vw;
   padding-top: 2vw;
    background-color:lavender;
}
#player2 {
    margin: 4vw auto 0 auto ;
    width: 7vw;
    text-align: center;
    height: 3vw;
    padding-top: 2vw;
    background-color:lavender;
}
